Based on data from Kaggle competition https://www.kaggle.com/c/two-sigma-connect-rental-listing-inquiries

In [26]:
import re
import os
import warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Options

In [27]:
# pandas string display length
pd.options.display.max_colwidth = 1000

# allow to display plots
%matplotlib inline

# plt and sns plots styles
plt.style.use('seaborn-whitegrid') # list of all -> plt.style.available
sns.set_style('whitegrid') # white, dark, whitegrid, darkgrid, ticks

# colors
colors = sns.color_palette() # can be used hues from list or just text values like 'white' or 'black'
colormap = plt.cm.viridis # for heat map

# hide all warnings in jupyter
warnings.filterwarnings('ignore')

In [28]:
# directories paths
CUR_DIR = os.getcwd()
DATA_PATH = os.path.join(CUR_DIR, 'data/')

file_name = 'train.json'
file_name1 = 'train.csv'

# my google API key for translation
API_KEY = 'AIzaSyDYh8QFBIjbNowAICQ4pOEszNc4ICZJ3B0'

# to run in properly
ORIGINAL_DATA = False

# Pandas data operations

In [29]:
# read dataframe from file
if ORIGINAL_DATA:
    train_df = pd.read_json(DATA_PATH + file_name)
else:
    train_df = pd.read_csv(DATA_PATH + file_name1, sep='|')
        

# merge 2 dataframes
# df_2 = df_1.merge(df_new, on='ID', how='inner')

# drop N/A
train_df = train_df.dropna()

In [30]:
print("Data size : %d x %d\n" % (train_df.shape[0], train_df.shape[1]))

categorical_columns = [c for c in train_df.columns if train_df[c].dtype.name == 'object']
numerical_columns   = [c for c in train_df.columns if train_df[c].dtype.name != 'object']
print('*'*30)
print('Categorical columns:')
print()
print('\n'.join(categorical_columns))
print()
print('*'*30)
print('Numerical columns:')
print()
print('\n'.join(numerical_columns))

Data size : 49352 x 15

******************************
Categorical columns:

building_id
created
description
display_address
features
interest_level
manager_id
photos
street_address

******************************
Numerical columns:

bathrooms
bedrooms
latitude
listing_id
longitude
price

In [31]:
train_df['created'] = pd.to_datetime(train_df['created'])
train_df['created'] = train_df['created'].dt.date

ulimit = np.percentile(train_df.price.values, 99)
train_df['price'].ix[train_df['price'] > ulimit] = ulimit

if ORIGINAL_DATA:
    train_df["num_photos"] = train_df["photos"].apply(len)
    train_df['num_photos'].ix[train_df['num_photos'] > 12] = 12

In [32]:
if ORIGINAL_DATA:
    train_df = train_df.drop(labels=['building_id', 'description', 'display_address', 'latitude', 
                                     'listing_id', 'longitude', 'manager_id', 'photos', 'street_address'], 
                             axis=1)
    categorical_columns = [c for c in train_df.columns if train_df[c].dtype.name == 'object']
    numerical_columns   = [c for c in train_df.columns if train_df[c].dtype.name != 'object']
    train_df.to_csv(DATA_PATH + file_name1, index=False, sep='|')
    
train_df.head()

,bathrooms,bedrooms,created,features,interest_level,price,num_photos
10,1.5,3,2016-06-24,[],medium,3000.0,5
10000,1.0,2,2016-06-12,"[Doorman, Elevator, Fitness Center, Cats Allowed, Dogs Allowed]",low,5465.0,11
100004,1.0,1,2016-04-17,"[Laundry In Building, Dishwasher, Hardwood Floors, Pets Allowed Case by Case]",high,2850.0,8
100007,1.0,1,2016-04-18,"[Hardwood Floors, No Fee]",low,3275.0,3
100013,1.0,4,2016-04-28,[Pre-War],low,3350.0,3

# Data review

### general statistical features and correlations

In [ ]:
train_df[numerical_columns].describe()

         bathrooms      bedrooms         price    num_photos
count  49352.00000  49352.000000  49352.000000  49352.000000
mean       1.21218      1.541640   3608.801001      5.417815
std        0.50142      1.115018   1848.993853      2.889496
min        0.00000      0.000000     43.000000      0.000000
25%        1.00000      1.000000   2500.000000      4.000000
50%        1.00000      1.000000   3150.000000      5.000000
75%        1.00000      2.000000   4100.000000      7.000000
max       10.00000      8.000000  13000.000000     12.000000

In [ ]:
from pandas.plotting import scatter_matrix
scatter_matrix(train_df[numerical_columns], alpha=0.05, figsize=(12, 12));

In [ ]:
train_df[numerical_columns].corr()

In [ ]:
plt.figure(figsize=(12,12))
plt.title('Pearson Correlation of Features', y=1.05, size=15)
sns.heatmap(train_df[numerical_columns].astype(float).corr(),
            linewidths=0.1,
            vmax=1.0, 
            square=True, 
            cmap=colormap, 
            linecolor='white', 
            annot=True);

## Plots

#### complex plots scheme with multiply features

In [ ]:
g = sns.pairplot(train_df,
                 hue='interest_level', 
                 # palette = 'seismic', 
                 size=3, 
                 diag_kind = 'kde', 
                 diag_kws=dict(shade=True), 
                 plot_kws=dict(s=10));
# g.set(xticklabels=[])

#### simple count histogram

In [ ]:
counted_values = train_df['bedrooms'].value_counts()

plt.figure(figsize=(8,4))
sns.barplot(counted_values.index, counted_values.values, 
            alpha=0.8, 
            color='green') # w/o set color will be rainbow
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('bedrooms', fontsize=12)
plt.show()

#### complex count histogram

In [ ]:
plt.figure(figsize=(8,6))
sns.countplot(x='bedrooms', hue='interest_level', data=train_df)
plt.ylabel('Number of Occurrences', fontsize=12)
plt.xlabel('bedrooms', fontsize=12)
plt.show()

#### distribution plot

In [ ]:
plt.figure(figsize=(8,6))
sns.distplot(train_df[train_df['interest_level'] == 'low'].price.values, 
             bins=50, 
             kde=True)
plt.xlabel('price', fontsize=12)
plt.show()

#### multiply distribution plot

In [ ]:
mult_dist = sns.FacetGrid(train_df, 
                          hue="interest_level", 
                          aspect=4)
mult_dist.map(sns.kdeplot,'price',shade= True)
mult_dist.set(xlim=(0, train_df['price'].max()))
mult_dist.add_legend();

#### versus distribution plot

In [ ]:
plt.figure(figsize=(6,6))
sns.stripplot(x="interest_level", 
              y="price", 
              data=train_df, 
              jitter=True)
plt.title("price vs interest_level");

#### triple versus distribution plot

In [ ]:
plt.figure(figsize=(12,12))
sns.stripplot(x="bedrooms", 
              y="price", 
              hue="interest_level", 
              data=train_df, 
              jitter=True)
plt.title("price Vs bedrooms Vs interest_level");

#### apply func and build histogram

In [ ]:
price_mean = train_df[["interest_level", "price"]].groupby(['interest_level'], 
                                                           as_index=False).mean()
sns.barplot(x='interest_level', y='price', data=price_mean);

#### violin plot

In [ ]:
plt.figure(figsize=(12,6))
sns.violinplot(x="num_photos", y="interest_level", 
               data=train_df, 
               order =['low','medium','high'])
plt.xlabel('Number of Photos', fontsize=12)
plt.ylabel('Interest Level', fontsize=12)
plt.show()

#### complex violin plot

In [ ]:
plt.figure(figsize=(10,6))

sns.violinplot(x="interest_level", y="price", data=train_df, inner=None, color=".8")
sns.stripplot(x="interest_level", y="price", data=train_df, jitter=True)
plt.title("Violin Price Vs Status");

#### simple plot -- total sells per day

In [ ]:
# calculate sum per day
low = train_df[train_df['interest_level'] == 'low']
low = low[["created", "price"]].groupby(['created'], as_index=False).sum()

medium = train_df[train_df['interest_level'] == 'medium']
medium = medium[["created", "price"]].groupby(['created'], as_index=False).sum()

high = train_df[train_df['interest_level'] == 'high']
high = high[["created", "price"]].groupby(['created'], as_index=False).sum()


fig = plt.figure(figsize=(18, 5))

plt.plot(low['created'], low['price'], 
         label = 'label1')
plt.plot(medium['created'], medium['price'], 
         label = 'label2')
plt.plot(high['created'], high['price'], 
         label = 'label3')

plt.legend()
plt.show()

#### simple plot with dots

In [ ]:
plt.figure(figsize=(18,6))

sns.pointplot(high['created'].values, high['price'].values, 
              alpha=0.8)
plt.ylabel('date', fontsize=12)
plt.xlabel('value', fontsize=12)
plt.title("total sells per day", fontsize=15)
plt.xticks(rotation='vertical')
plt.show()

#### pie charts

In [ ]:
sizes = train_df['interest_level'].value_counts().values

patches, texts, autotexts= plt.pie(sizes, 
                                   labels=['low','medium','high'],
                                   colors=['green','red','blue'],
                                   explode=[0.05,0.05,0.05],
                                   autopct="%1.1f%%", 
                                   startangle=90)
plt.title("interest_level")
plt.show()

## Word Cloud

In [ ]:
from wordcloud import WordCloud

text = ''
train_df = train_df[:1000]
for ind, row in train_df.iterrows():
    for feature in eval(row['features']):
        text = " ".join([text, "_".join(feature.strip().split(" "))])
text = text.strip()

plt.figure(figsize=(12,8))
wordcloud = WordCloud(background_color='white', 
                      width=600, 
                      height=300, 
                      max_font_size=50, 
                      max_words=40).generate(text)
plt.imshow(wordcloud)
plt.title("Wordcloud for features", fontsize=30)
plt.axis("off")
plt.show()